name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.4, 2.5, 2.6, 2.7, jruby]
        gemfile: [
          'gemfiles/rails_4_2.gemfile',
          'gemfiles/rails_5_0.gemfile',
          'gemfiles/rails_5_1.gemfile',
          'gemfiles/rails_5_1.gemfile',
          'gemfiles/rails_6_0.gemfile',
          'gemfiles/rails_head.gemfile'
        ]
    steps:
      - uses: actions/checkout@master
      - name: Set up Ruby
        uses: eregon/use-ruby-action@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Setting up Bundler
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
      - name: Run RSpec
        run: |
          bundle exec rspec --pattern "spec/mailgun/**/*_spec.rb"
